fastapi[all]==0.109.2
sqlalchemy==2.0.25
geoalchemy2==0.14.4
psycopg2-binary==2.9.9
pydantic==2.5.3
pydantic-settings==2.1.0
alembic==1.13.1
python-jose[cryptography]==3.3.0
python-multipart==0.0.9
bcrypt==4.1.2
google-auth
requests
